#profile{
    text-align: center;
    font-size:50px;
}

.box{
    padding-left: 5vw;
    text-align:left;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: -1vw;
    height: 70px;
    left: 50%;
    background-color: paleturquoise;
    color:gray;
    font-size: 4vw;
    
}

h1{
    color: white;
    margin-top:0px;
    margin-bottom: 50px;
}

h2{
    color:white;
    margin-bottom: 1px;
}

.name{
    border: gray;
    border-style: groove;
    width:800px;
    margin: 0 auto;
}

.bigbox{
    text-align: center;
    background-color:grey;
    width: 800px;
    margin: auto;
    border: 1px groove white;
    border-radius: 10px;
}

.medbox{
    background-color:grey;
    width:100%;
}

       